// Bootstrap Variables
$icon-font-path: '../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';


body {
  box-sizing: border-box;
}

.container {
  width: 320px;
  height: 414px;
  background-color: rgb(68, 68, 68);
  border: 5px solid rgb(68, 68, 68);
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.badge {
  color: rgb(250, 250, 250);
}

#sec-count-off {
  color: #666;
  background-color: rgb(250, 250, 250);
}

.list-group {

}

.list-group-item {
  background-color: rgb(160, 200, 64);
  border: 0;

  & #sec-name {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(61, 88, 0);
  }

  & #sec-icon-on {
    font-size: 1.2em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(61, 88, 0);
    margin-right: 6px;
  }

  & #sec-icon-off {
    font-size: 1.2em;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    margin-right: 6px;
  }
}

#list-off {
  background-color: rgb(106, 108, 113);
  border-top: 1px solid #888;

  & #sec-name-off {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
  }
}

.nav-list {
  height: auto;
  line-height: 40px;
  background-color: rgb(229, 229, 229);
  border-bottom: 1px solid #666;

  & li {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(120, 120, 120);
  }

  & #order{
    font-size: .9em;
    font-weight: 500;
    font-family: sans-serif;
    color: #999;
    margin-left: -25px;
    margin-right: 11px;
  }
}
