// Bootstrap Variables
$icon-font-path: '../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 320px;
  height: 414px;
  background-color: rgb(68, 68, 68);
  border: 5px solid rgb(68, 68, 68);
  margin: 0 auto;
}

.Files {

}

.Mail {

}

.Cloud {

}

.Sign-Out {

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.box-on {
  width: 310px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(160, 200, 64);

  & #sec-name {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(61, 88, 0);
    padding: 6px;
  }

  & #sec-icon {
    font-size: 1.4em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(61, 88, 0);
    padding: 10px 0 10px 10px;
  }

  & #sec-count {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(61, 88, 0);
    padding-left: 150px;
    text-align: right;
  }

}

.box-off {
  width: 310px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(106, 108, 113);
  border-top: 1px solid #999;

    & #sec-name {
      font-size: 1em;
      font-weight: 600;
      font-family: sans-serif;
      color: white;
      padding: 6px;
    }

    & #sec-icon {
      font-size: 1.4em;
      font-weight: 600;
      font-family: sans-serif;
      color: white;
      padding: 10px 0 10px 10px;
    }

}

.nav-list {
  width: 310px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(229, 229, 229);
  border-bottom: 1px solid #666;

  & li {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(120, 120, 120);
  }

  & #order{
    font-size: .9em;
    font-weight: 500;
    font-family: sans-serif;
    color: #999;
    margin-left: -25px;
    margin-right: 11px;
  }
}
