// Bootstrap Variables
$icon-font-path: '../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';


body {
  box-sizing: border-box;
}

.container {
  width: 320px;
  height: 414px;
  background-color: rgb(68, 68, 68);
  border: 5px solid rgb(68, 68, 68);
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.box-on {
  height: 40px;
  line-height: 40px;
  background-color: rgb(160, 200, 64);
  margin: 0;

  & #sec-name {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(61, 88, 0);
    padding: 6px;
  }

  & #sec-icon {
    font-size: 1.4em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(61, 88, 0);
    padding: 10px 0 10px 10px;
  }

  & #sec-count {
    display: inline;
    border-radius: 26px/18px;
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(250, 250, 250);
    text-align: center;
    padding-left: 130px;
  }

}

.box-off {
  height: 40px;
  line-height: 40px;
  background-color: rgb(106, 108, 113);
  border-top: 1px solid #999;
  margin: 0;

    & #sec-name {
      font-size: 1em;
      font-weight: 600;
      font-family: sans-serif;
      color: white;
      padding: 6px;
    }

    & #sec-icon {
      font-size: 1.4em;
      font-weight: 600;
      font-family: sans-serif;
      color: white;
      padding: 10px 0 10px 10px;
    }

    & #sec-count {
      display: inline;
      border-radius: 26px/18px;
      font-size: 1em;
      font-weight: 600;
      font-family: sans-serif;
      color: rgb(250, 250, 250);
      text-align: center;
      padding-right: 10px;
    }
}

.nav-list {
  height: auto;
  line-height: 40px;
  background-color: rgb(229, 229, 229);
  border-bottom: 1px solid #666;

  & li {
    font-size: 1em;
    font-weight: 600;
    font-family: sans-serif;
    color: rgb(120, 120, 120);
  }

  & #order{
    font-size: .9em;
    font-weight: 500;
    font-family: sans-serif;
    color: #999;
    margin-left: -25px;
    margin-right: 11px;
  }
}
